table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th{
    background-color: lightskyblue;
}

.idinput{
    width:40px;
}

.numinput{
    width:70px;
}

.textinput{
    min-width:100px;
    width:95%;
}

table button{
    padding:2px;
}

.longtext{
}